[submodule "softposit-cpp"]
	path = softposit-cpp
	url = https://gitlab.com/cerlane/SoftPosit.git
[submodule "softposit-rs"]
	path = softposit-rs
	url = https://gitlab.com/burrbull/softposit-rs.git
[submodule "google-benchmark"]
	path = google-benchmark
	url = https://github.com/google/benchmark.git
